<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to admin_items_path, class: 'nav-link text-light border border-dark py-1' do %>
      <button class="btn">商品一覧</button>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_customers_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
      <button class="btn">会員一覧</button>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
      <button class="btn">注文履歴一覧</button>
    <% end %>        
  </li>
  <li class="nav-item">
    <%= link_to admin_genres_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
      <button class="btn">ジャンル一覧</button>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light border border-dark py-1 ms-3' do %>
      <button class="btn">ログアウト</button>
    <% end %>
  </li>
</ul>