<% if customer_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to public_customers_my_page_path, class: 'nav-link text-light border border-dark py-1' do %>
            <button class="btn">マイページ</button>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to public_items_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
            <button class="btn">商品一覧</button>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to public_cart_items_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
            <button class="btn">カート</button>
          <% end %>        
        </li>
        <li class="nav-item">
          <%= link_to customers_sign_out_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
               <button class="btn">ログアウト</button>
          <% end %>
        </li>
      </ul>
    </div>    
<% else %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to about_path, class: 'nav-link text-light border border-dark py-1' do %>
            <button class="btn">About</button>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to public_items_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
            <button class="btn">商品一覧</button>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_customer_registration_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
            <button class="btn">新規登録</button>
          <% end %>        
        </li>
        <li class="nav-item">
          <%= link_to new_customer_session_path,class: 'nav-link text-light border border-dark py-1 ms-3' do %>
               <button class="btn">ログイン</button>
          <% end %>
        </li>
      </ul>
    </div>  
<% end %>