<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
　　<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.fullpath.include? "admin"  %>
        <%= render "layouts/admin_header" %>
      <% else%>
        <%= render "layouts/public_header" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <hooter>
      <div class="row fixed-bottom border border-dark ">aaa
      </div>
    </hooter>
  </body>
</html>
