<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-2 py-4">
      <%= render 'public/shared/sidebar' %>
    </div>    
    <div class="col-10">
      <div class="row">
        <div class="col mt-4" style="height: 950px;">
          <h3>商品一覧</h3>
          <p class="col">(全<%= @all_items.count %>件)</p>
        </div>
        <table class="table table-borderless">
        <tr class="d-flex d-block flex-wrap justify-content-center ">
          <% @items.each do |item| %>
            <td class="new_item_table">
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_image, class: "new_item_image"  %>
                <p class="figure-caption"><%= item.name %></p>
                <p class="figure-caption">¥<%= item.with_tax_price %></p>
              <% end %>
            </td>
          <% end %>
        </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col text-right">
    <%= paginate @items %>
  </div>
</div>